*.pyc
*.cache
*.sublime-project
*.DS_Store
SublimeCodeIntel
*History.sublime-settings
numberIncrement
User/UntitledFiles

ActionScript
AppleScript
ASP
Batch File
C#
C++
Clojure
D
Diff
Erlang
Go
Graphviz
Groovy
Haskell
Java
Language - English
LaTeX
Lisp
Lua
Makefile
Markdown
Matlab
Objective-C
OCaml
orgmode
Perl
Python
R
Rails
Regular Expressions
RestructuredText
Ruby
Scala
ShellScript
SQL
TCL
Text
Textile
Vintage
XML
YAML